{%load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%include 'header.html'%}
    <div class="box">
        <div class="aside">
            <ul>
                <li><a href="" data-page="">내 정보</a></li>
                <li><a href="" data-page="">회원정보 수정</a></li>
                <li><a href="" data-page="">회원 탈퇴</a></li>
                <li><a href="" data-page="">로그아웃</a></li>
            </ul>
        </div>
        <section class="my-page-section">
        
        </section>
    </div>
    

    {%include 'footer.html'%}
</body>

</html>